/* Import av font-family */
@import url('https://fonts.googleapis.com/css2?family=Public+Sans&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Public+Sans:wght@400;700&display=swap');


/* Import av media = responsiva del */
@import '/_media';



@font-face {
    font-family: PublicSans;
    src: url(/font-family/PublicSans-Regular.ttf);
}

@font-face {
    font-family: PublicSans-Bold;
    src: url(/font-family/PublicSans-Bold.ttf);
}


body {
    margin: 0;
    padding: 0;
}



/* Sektion 1 = Header och första bild på startsida */


header {
    position: relative; /* header hamnar ovanför bilden, och stannar på sin position (använde fixed tidigare,
    för att headern skulle följa med när man skrollar) */
    background-color: none;
    width: 100%;
    top: 0;
    left: 0;
    z-index: 999;

}

.main-navigation {
    display: flex;
    display: -webkit-box;  /* iOS 6-, Safari 3.1-6, BB7 */
    display: -ms-flexbox;  /* IE 10 */
    display: -webkit-flex; /* Safari 6.1+. iOS 7.1+, BB10 */
    height: 40px;
    margin: 20px 40px 20px 40px;
    white-space: nowrap;
    align-items: center;

}

.main-navigation h1 {
    color: white;
}

.main-navigation ul {
    text-align: right;
    flex: 1;

}

.main-navigation ul li {
    display: inline-block;
    margin: 0 30px;
    font-size: 20;
    font-family: $publicsans;
    padding: 11px;
    background-color: $colorblue;

}

.main-navigation li a {
    text-decoration: none;
    color: white;

}    


.main-navigation a:hover {
    padding: 0px;
    border-bottom: 3px solid white;
    color: white;
}

/* ifall h1 ska synas i project sidan */
/*.main-navigation h1 {
    font-family: 'Public Sans', sans-serif;
    font-size: 20px;
    color: white;
    padding-left: 30%;
    padding: 10px;
    background-color: $colorblue;
}*/

/*h1 a {
    text-decoration: none;
    color: white;
}*/

/*.main-navigation a:hover h1 {
    text-decoration: none;
    color: white;
    border-bottom: 3px solid white;
    padding: 0px;
}*/


.burger-meny {
    display: none;
}


.section1 {
    position: relative;
    width: 100%;
    height: 100vh;
    background-color: white; 
}

/* Parallax effekt på banner bilden */
.banner-picture {
    background: url("../img/bannerpicture.jpg");
    height: 900px;
    margin-top: -80px; /* gör att bilden hamnar under headern */
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}



/* EFFEKT på text i banner bilden */

/* div: HELLO */
.effect-text {
    display: inline-block; /* hamnar på en rad */
    overflow: hidden;
    white-space: nowrap;
    font-family: $publicsans;
    color: $colorblue;
    background-color: white;
    padding: 1%;
    font-size: 35px;
    position: relative; 
    left: 3%; /* placerar text 3% från vänster */
    top: 700px; /* placerar text 700 från topp */
    
  }

/* div span: I'm Michelle */

  .effect-text2 {
    display: inline-block; /* hamnar på en rad */
    overflow: hidden;
    white-space: nowrap;
    font-family: $publicsans;
    color: white;
    font-size: 50px;
    position: relative; 
    left: 4%; /* placerar text 4% från vänster */
    top: 60%; /* placerar text 60% från topp */
  }
  
  .effect-text:first-of-type {    
    animation: showup 7s infinite;
  }
  
  .effect-text:last-of-type {
    width: 0px;
    animation: reveal 7s infinite;
  }
  
  /* div span: Michelle K */
  
  .effect-text2:last-of-type span {
    margin-left: -355px;
    animation: slidein 7s infinite;
  }
  
  
  /* effekt */
  
  @keyframes showup {
      0% {opacity:0;}
      20% {opacity:1;}
      80% {opacity:1;}
      100% {opacity:0;}
  }
  
  @keyframes slidein {
      0% { margin-left:-500px; }
      20% { margin-left:-500px; }
      35% { margin-left:0px; }
      100% { margin-left:0px; }
  }
  
  @keyframes reveal {
      0% {opacity:0;width:0px;}
      20% {opacity:1;width:0px;}
      30% {width: 355px;}
      80% {opacity:1;}
      100% {opacity:0;width:355px;}
  }






/* Sektion 2 = Projects */


.section2 {
    background-color: white;
    width: 100%;
    margin: 0 auto;
    position: relative;
    margin-top: 4%;
    margin-bottom: 10%;
    

}

.flex-container {
    display: flex;
    justify-content: space-around;
}

.flex-container a{
    text-decoration: none;
    color: black;
}

.flex-container a:hover {
    background-color: rgba(11, 110, 202, 0.796);
    padding: 20px;
    border: 1px solid white;
    color: white;
   
}


.section2 h2 {
    font-size: 25px;
    font-family:  $publicsans;
    color:  black;
    text-align: center;
    margin: 0;
    border-bottom: 1px solid black;
    padding-top: 100px;
    padding-bottom: 100px;
}

.section2 p {
    font-family:  $publicsans;
    font-size: 17px;
    padding-top: 5%;
    padding-bottom: 5%;
    text-align: center;
    color: black;
    border-bottom: 1px solid black;
    border-left: 1px solid black;
    
}


.picture {
    width: 400px;
    height: 500px;
}



/* testade hover effekt på bild */
/* .picture1 img:hover {
    position: relative;
    left: 4px;
    
}*/




/* Länk till: Digital art Sida, = display grid */

.grid-picture-container {
    /* variabler för gap, 4 kolumner, höjd på rows */
    --gap: 25px; 
    --num-cols: 4;
    --row-height: 400px;

    box-sizing: border-box;
    padding: 10%; 
    display: grid;
    grid-template-columns: repeat(var(--num-cols), 1fr); /* repeterar 4 kolumner och 1 fr */
    grid-auto-rows: var(--row-height); /* automatiska rows med höjd variabeln */
    gap: var(--gap);
}

.grid-picture-container > img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

/* Första bild tar upp 2 kolumner*/
.grid-picture-container-col-2 {
    grid-column: span 2;
}

/* Första bild tar upp 2 rows*/
.grid-picture-container-row-2 {
    grid-row: span 2;
}

@media screen and (max-width: 1025px) {
    .grid-picture-container {
        --num-cols: 2; /* 2 kolumn layout */
        --row-height: 200px;
    }
}






/* Sektion 3 - About me */


.section3{
    background-color: rgba(11, 110, 202, 0.765);
    width: 100%;
    margin: 0 auto;
    position: relative;
    padding-top: 20%;
    padding-bottom: 20%;
    margin-bottom: 5%; /* space mellan sektion 3 och 4 */

}

span {
    display: block;
}

.section3 h2 {
    font-size: 25px;
    font-family: $publicsansbold;
    color:  white;
    text-align: center;
    margin: 0;
    padding-top: 50px;
}

.section3 p {
    font-size: 17px;
    line-height: 1.5;
    font-family: $publicsans;
    color:  white;
    text-align: center;
    margin: 0;
    padding-top: 50px;
}

.icons {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    margin-top: 5%;
    margin-left: 25%;
    margin-right: 25%;
    filter: invert(100%);
  
}



/* Sektion 4 - Resume CV */


.section4{
    background-color:white;
    position: relative;
    width: 100%;
    height: 100vh;
    margin: 0 auto;
    padding-bottom: 20%; /* space mellan innehållsboxar och margin-bottom - förlänger bakgrundsbild */
    margin-bottom: 15%; /* space mellan sektion 4 och sektion 5 */ /* när man zoomar ut syns bakgrundsfärgen?? */
}

/* Bakgrundsbild med parallax effekt */

.background-section4 {
    background-image: url(../img/milad-fakurian-Dkvmsxdnsgs-unsplash.jpg);
    height: 1300px;
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

/* Rubrik ovanför 2 cv boxar */

.section4 h2 {
    font-size: 25px;
    font-family: $publicsansbold;
    color: rgba(33, 110, 205, 0.863);
    border-bottom: 1px solid black;
    text-align: center;
    margin: 0;
    padding-top: 150px;
    padding-bottom: 100px;

}

/* Två boxar med cv */

.two-boxar {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly; /* sätter boxar i mitten */
}

/* Box med cv innehållet */

.contact {
    background-color: white;
    padding: 3%;
    width: 40%;
    display: inline-block;
    margin-left: 1%;
    margin-right: 1%;
    border-radius: 5px;
    
}

/* Rubriker i cv boxarna */

.innehåll h3 {
    font-size: 20px;
    font-family: $publicsansbold;
    color: black;
    text-align: left;
    margin: 0;
    padding-top: 50px; /* space mellan toppen av boxen till rubrik */
    padding-bottom: 20px; /* space mallan rubrik och paragraf */

}

/* Paragraf under rubriker */

.innehåll p {
    font-family: $publicsans;
    font-size: 18px;
    color: black;
    line-height: 1.5em;
    padding: 1%;

}

/* Skills box med skills gradienter */

.skills {
    width: 200px; /* ökar bredd på skills gradient boxen */
    margin: 0;
    color: black;
    padding-bottom: 10%; 
}

.skills li {
    text-decoration: none;
    list-style: none;
    margin: 1%;
    padding: 0.5%;
}


/* Block där skillsgradienten finns */

.bar {
    background: white;
    display: block;
    height: 10px;
    border: 1px solid black;
    overflow: hidden;
    border-radius: 10px;
}


/* Färggradient i gradientbox */

.bar span {
    height: 10px;
    float: left;
    background: linear-gradient(135deg, rgba(236, 0, 140,1)0%, rgba(252, 103, 103, 1)100%);
}


/* Skills gradienten */

.photoshop{
    width: 90%;
    animation: photoshop 3s;
}

.illustrator{
    width: 90%;
    animation: illustrator 3s;
}

.html{
    width: 40%;
    animation: html 3s;
}

.css{
    width: 40%;
    animation: css 3s;
}

.wordpress{
    width: 20%;
    animation: wordpress 3s;
}


/* Effekt där färggradient rör sig från 0% till 100% i gradientbox */

@keyframes photoshop {
    0%{
        width: 0%;
    }
    100%{
        width: 90%;
    }
}

@keyframes illustrator {
    0%{
        width: 0%;
    }
    100%{
        width: 90%;
    }
}

@keyframes html {
    0%{
        width: 0%;
    }
    100%{
        width: 40%;
    }
}

@keyframes css {
    0%{
        width: 0%;
    }
    100%{
        width: 40%;
    }
}

@keyframes wordpress {
    0%{
        width: 0%;
    }
    100%{
        width: 20%;
    }
}





/* Sektion 5 - Say hello! */


.section5{
    background-color:  white;
    width: 100%;
    margin: 0 auto;
    position: relative;
    padding-top: 5%;
    padding-bottom: 10%;
    margin-bottom: 5%;
}

.section5 h2 {
    font-size: 25px;
    font-family: $publicsansbold;
    color:  black;
    padding-top: 50px;
    text-align: center;
    margin: 0;
    padding-top: 100px;
    padding-bottom: 100px;
    border-bottom: 1px solid black;
}

.section5 form {
    font-size: 20px;
    font-family: $publicsans;
    text-align: center;
    margin: 0;
    padding-top: 70px;
}

.form-text input {
    background-color: white;
    height: 60px;
    width: 400px;
    font-family: $publicsans;
    font-size: 18px;
    color: $colorblue;

}






/* Sektion 6 = Footer */


footer {
    background-color: rgba(33, 110, 205, 0.863);
    width: 100%;
    margin: 0 auto;
    position: relative;
    padding-top: 0%;
    padding-bottom: 0%;

}

.box-footer {
    background-color: none;
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    padding-top: 10%; 
    padding-bottom: 10%; 
}

.innehåll-footer {
    background-color: none;
    width: 12%;
    justify-content: center;
    display: inline-block;
    position: relative;
    margin: 2%;
}

.innehåll-footer h5 {
    font-size: 20px;
    font-family: $publicsansbold;
    color: white;
}

.innehåll-footer p {
    font-size: 15px;
    font-family: $publicsans;
    color: white;
}

.innehåll-footer a {
    color: white;
}



